@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1b1b1b;
  font-family: 'Manrope', sans-serif;
}

body {
  background: #ffffff;
}

.container {
  margin: 0 1.5rem;
}

.main-title {
  padding: 1.5rem 0;
  font-size: 1.75rem;
}

.second-title {
  align-self: flex-start;
  padding: 1.5rem 0;
  font-size: 1.375rem;
}

.page-container {
  padding-bottom: 7rem;
}
